//Imported Bootstrap components
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'overrides/bootstrap';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import "~bootstrap/scss/utilities";

//Fonts
@import 'fonts/graphik';
@import 'fonts/dolly-pro';

//Common utilities classes
@import 'utilities/standard';

//Hamburger menu
@import 'overrides/hamburgers';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

@import 'global/global';
@import 'global/header';
@import 'global/footer';